[public]
PROJECT=LFLiveKit.xcodeproj
CONFIGURATION=Debug
SCHEME=LFLiveKit
XCWORKSPACE=LFLiveKit.xcworkspace
PLIST_FILE=FrameWork/Info.plist
CLANG=true
OCLINT=false
SIMULATOR=true
COVERAGE=false
YUEYUPACK=false
AUTOTEST=false
MULTIPRODUCTS=true
OPTIMIZED=false
SCHEME_LIST=LFLiveKit
BUNDLE_IDENTIFIER_PREFIX=com.mshow

[InHouse]
BUNDLE_IDENTIFIER=com.mshow.lanmediasdk

[AppStore]
BUNDLE_IDENTIFIER=com.yy.projectname

[autotest]
TEAM_ID=PVE2WH4PE2
BUNDLE_IDENTIFIER=com.yy.development.yycmodel